body {
    margin: 0;
    font-family: "Roboto";
}

.main-container {
    display: grid;
    height: 110vh;
    grid-template: 2fr 6fr / 2fr 8fr;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 1em;
} 

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-around;    
}

.search {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.profile-top {
    width:27%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.profile-top > svg {
    width: 1.5em;
}

.profile-top > img {
    border-radius: 50%;
    width: 2.5em;
}

.profile-top > span {
    font-weight: 600;   
    font-size: 1.1em;
}

.search > svg {
    width: 1.5em;
    padding-right: 1em;
}

.search > svg {
    margin-top: 1em;
    padding-bottom: 1em;
}

.search > input {
    height: 2.3em;
    width: 45em;
    border-radius: 50px;
    border: none;
    background-color: rgb(224, 230, 237);
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.profile-bottom {
    display: flex;
    gap: 1em;
    width: 35em;
}

.profile-bottom > img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 0.5;
    align-self: center;

}

.profile-text > p {
    font-weight: 600;
    font-size: .9em;
    margin: 0;
}

.profile-text > h1 {
    font-size: 1.5em;
    margin: 0;
}

.buttons {
    display: flex;
    align-self: center;
    gap: 2em;
}

.buttons > button {
    border: none;
    width: 6em;
    text-align: center;
    border-radius: 3em;
    padding: 0.6em;
    background-color: rgb(66, 148, 248);
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(91, 165, 255);
    gap: 1.4em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-bar > div {
    display: flex;
    align-items: center;
    color: white;
    width: 85%;   
}

.logo {
    padding-bottom: 2em;
}

.logo > svg {
    margin-top: 1em;
    width: 3em;
    fill: white;
}

.logo > h1 {
    margin-top: 1.2em;
    font-weight: 500;   
    font-size: 1.8em;
}

.side-bar > div > svg {
    padding-right: 1.3em;
}

.option {
    margin-left: 1.2em;
}

.option > svg {
    width: 1.5em;
    fill: white;
}

.option > span {
    font-weight: 500;   
    font-size: 1.2em;
}

.main-content {
    background-color: #e5e7eb;
    position: relative;
    z-index: -10;
    display: grid;
    grid-template: 1fr / 5fr 2fr;
    gap: 1em;

}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5em;
    gap: 1.5em;
    margin: 1em 0 0 1em ;
    padding-bottom: 1em;
}

.content-header {
    margin: 0;
    margin-top: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-left: 0.5em solid rgb(255, 208, 0);
    border-radius: 10px;
    padding: 1em;
}

.project > div > h1 {
    font-size: 1.2em;
    margin: 1em 0 0 0;

}

.project > div > p {
    margin: 0;
}

.project-svgs {
    display: flex;
    justify-content: end;  
}

.project-svgs > svg {
    width: 1.5em;
    margin-right: 1em;
}

.side-content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.announcements {
    margin-top: 0.9em;
    margin-bottom: 1em;
    padding-top: 1em;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    margin-right: 1.5em;
}

.announcement {
    margin: 1em 2em 1em 2em;
}

.announcement > h2 {
    margin: 0;
    font-size: 0.9em;
}

.announcement > p {
    color: #4a5158;
    margin: 0;
    font-size: 0.8em;
}

.line {
    margin-left: auto;
    margin-right: auto;
    background-color: #919191;
    height: 1.3px;
    width: 80%;
}

